<div class="col-md-3 ">
     <div class="list-group ">
          <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
          <a href="/perfilInformacionMedico" class="list-group-item list-group-item-action">Informacion del Medico</a>
          <a href="/perfilMedicoCitaDia" class="list-group-item list-group-item-action">Informacion de citas del dia</a>
          <a href="/perfilMedicoHistorialClinico" class="list-group-item list-group-item-action">informacion de historial clinico</a>
          <a href="/perfilMedicoIngresarHistorialClinico" class="list-group-item list-group-item-action">Ingresar historial clinico</a>
          <a href="/perfilMedicoVerHorarios" class="list-group-item list-group-item-action">ver horarios</a>
    </div>
</div>
