<div class="col-md-3 ">
     <div class="list-group ">
          <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
          <a href="/perfilInformacionCliente" class="list-group-item list-group-item-action">Informacion del usuario</a>
          <a href="/perfilMascota" class="list-group-item list-group-item-action">informacion de mascotas</a>
          <a href="/perfilFormularioMascota" class="list-group-item list-group-item-action">Registrar mascota</a>
          <a href="/perfilCliente" class="list-group-item list-group-item-action">Actualizar informacion cliente</a>
          <a href="/reservarCita" class="list-group-item list-group-item-action">Reservar Citas</a>
          <a href="/historialCitas" class="list-group-item list-group-item-action">Historial de citas</a>
          <a href="/pagoCitas" class="list-group-item list-group-item-action">Pago de citas</a>
          <a href="/sugerencias" class="list-group-item list-group-item-action">Sugerencias</a>
    </div>
</div>
