body { padding-top: 58px; background-color: #e6a756}

.franjaInicio{
  background: #e6a756;
  width: 100%;
  height: 100%;
}
#menu{

}

img {
    max-width: 100%;
    max-height: 100%;
}

.banner img{
  height:auto;
  overflow:auto;
}

.btn-espacio{
  margin-bottom: 1rem;
}

.titulo-formulario{
  text-align: center;
}


.bloqueForm{
  margin-top: 1em;
  margin-bottom: 1em;
 border: solid cadetblue;
 border-radius: 40px;
 padding: 15px 10px 10px;
 width: 95%;
}



.bloqueForm .cabecera {
position:absolute;
 margin-top:-25px;
 margin-left:10px;
 color:white;
 background:cadetblue;
 border-radius:10px;
 padding:2px 10px;
}

.bloqueForm .contenido{
  margin-top: 2em;
}

@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
}

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

body {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}

.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}


  input.hidden {
  position: absolute;
  left: -9999px;
}
#tableHead > th {
  white-space: nowrap;
}
#dataTable_wrapper{
  overflow-x:auto;
}
.add{
background-color: rgba(0,170,0,0.8);
font-size: 150%;
font-style: oblique;
}
.add:hover{
  background-color: rgba(0,250,0,1);
}
.minus{
  background-color: rgba(170,0,0,0.8);
  font-size: 150%;
  font-style: oblique;
}
.minus:hover{
  background-color: rgba(250,0,0,1);
}
#profile-image1 {
  cursor: pointer;

   width: 100px;
  height: 100px;
border:2px solid #03b1ce ;}
.tital{ font-size:16px; font-weight:500;}
 .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}
