<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>

  <div class="container franjaInicio" >
    <div class="banner">
      <img src="/imagenes/perroSlider1.jpg" alt="banner">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h2>One of three columns</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptates magni dolorem aliquid doloribus voluptatem consectetur aut, dolores vel optio nostrum rerum, voluptatum quibusdam labore quaerat alias quidem ad asperiores.</p>
        </div>
        <div class="col-sm">
          <h2>One of three columns</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, fuga ducimus temporibus eveniet recusandae animi rem eligendi sed totam, necessitatibus similique amet distinctio enim pariatur, quisquam. Voluptate tempore, ea quaerat.</p>
        </div>
      </div>
    </div>
  </div>

  <% include ./partials/footer-js %>
</body>
</html>
