<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>


  <div class="container franjaInicio" >
    
    <div class="container">
      <div class="row">
        <div class="col-sm " style="margin-bottom: 2rem;" >
          <center>
		  <img src = "/imagenes/ubicanos.png" width="50" height= "50" alt="ban1">
		  <h2 class="text-light mb-5">Ubícanos</h2>
		  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d409.9741086020262!2d-76.97417727185346!3d-12.156352378307359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b85b6600e59f%3A0x4e11af43587cdbb3!2sJir%C3%B3n+Joaqu%C3%ADn+Bernal+469%2C+San+Juan+de+Miraflores+15801!5e0!3m2!1ses-419!2spe!4v1540316542294" width="900" height="900" frameborder="5" style="border:5" allowfullscreen></iframe>
          </center>
        </div>
        
       
      </div>
	  
    </div>
	 <div class="col-sm " > 
	 <center>
          <h2 class="text-light">Comunícate con nosotros</h2>
		  <img src = "/imagenes/telf.png" width="60" height= "60" alt="banner3"> 
          <h3 class="text-light">99714-0554</h3>
		   <img src = "/imagenes/telf.png" width="60" height= "60" alt="banner4">
		  <h3 class="text-light">135-5450</h3>
/<center>
        </div>
				<div class="col-sm float-none">
				<center>
          <h3 class="text-light">Siguenos en Facebook</h3>
			<a href="https://www.facebook.com/Centro-Medico-Veterinario-LEON-262574371129118/?modal=admin_todo_tour"> <img src = "/imagenes/logo.png" width="70" height= "70" alt="banner"> </a>
				</center>
		</div>
      </div>
  </div>
  

  <% include ./partials/footer-js %>
</body>
</html>
