<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>

  <div class="container franjaInicio" >
    
    <div class="container">
      <div class="row">
        <div class="col-sm p-3 mb-2 bg-secondary text-white w-25 p-4 float left mr-4">
		
          <h2>NOSOTROS</h2>
          <p>Centro Médico Veterinario León nace con la idea de crear una Clínica Veterinaria diferente del resto por la calidad de servicio que se ofrece. Además, consideramos a las mascotas como un miembro más de la familia y somos conscientes de lo que representa eso, y por eso nos caracterizamos por tener un servicio de calidad y responsabilidad para nuestros clientes. </p>
		  <img src="/imagenes/nosotros.jpg"  width="500" height= "200" alt="banner"/>
        </div>
        <div class="col-sm p-3 mb-2 bg-danger text-white p-4 float right mr-4">
          <h2>NUESTRA VISIÓN</h2>
          <p>Ser el mejor Centro Médico Veterinario de todo el país, destacándonos por nuestro staff médico conformado por los miembros más destacados de las diferentes ramas veterinarias.<br> Además de poner brindarle un servicio a todas las familias tan cerca como sea posible, sin importar en qué lugar se encuentren.</p>
		<img src="/imagenes/perroSlider2.jpg"  width="500" height= "200" alt="banner2"/>
		</div>
        <div class="col-sm p-3 mb-2 bg-success text-white p-4 mr-1">
          <h2>NUESTRO OBJETIVO</h2>
          <p>Fomentar la integración de nuestras mascotas al seno familiar, reconociendolas como un miembro más de nuestra familia para brindar afecto y cariño de forma desinteresada. Brindarles un buen servicio médico veterinario a nuestros pacientes y asegurarnos de que sus mascotas pasen una agradable estadía en nuestras instalaciones.  </p>
		<img src="/imagenes/perroSlider3.jpg"  width="500" height= "200" alt="banner"/>
		</div>
      </div>
    </div>
	
	
  </div>

  <% include ./partials/footer-js %>
</body>
</html>
