<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>
  <div class="container">
    <div class="row">
    <% include ./partials/dashboard-secretaria %>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Las citas del dia </h4>
		                    <hr>
                        <div id="dataTable_wrapper"></div>
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr id="tableHead">
                                        <th>CLIENTE</th>
                                        <th>NOMBRES</th>
                                        <th>APELLIDOS</th>
                                        <th>EMAIL</th>
                                        <th>TELEFONO</th>
                                        <th>DIRECCION</th>
                                        <th>DISTRITO</th>
                                        <th>MASCOTAS</th>
                                    </tr>
                                </thead>
                            </table>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
  </div>

  <% include ./partials/footer-js %>
  <script  type="text/javascript">
  $(document).ready(function () {
             $('#dataTable').DataTable({
               processing: true,
               serverSide: false,
                 "ajax": {
                     "url": "/clientes",
                     "type": "GET",
                     "datatype": "json",
                      dataSrc: "clientes"
                 },
                 "columns": [
                     { "data": "dni" },
                     { "data": "nombres" },
                     { "data": "apellidos" },
                     { "data": "email"},
                     { "data": "telefono" },
                     { "data": "direccion" },
                     { "data": "distrito"},
                     { "data": "_mascotas",
                     "render": function(data){
                       var nombres=[];
                       $.each(data,function(i,mascota){
                          nombres.push(mascota.nombre);
                       });
                       return nombres;
                     }
                    }
                 ]
             });
         });
  </script>
</body>
</html>
