<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>


  <div class="container" >
    <div class="row">
    <% include ./partials/dashboard-admin%>
    <div class="card">
      <div class="card-body">
        <form action="/clientes/cambiarClaveAdmin" method="post">
          <div class="form-group" >
            <h2 class="titulo-formulario">CAMBIAR CONTRASEÑA</h2>

            <div class="form-group">
              <label for="InputPassword">Actual contraseña</label>
              <input name="passwordActual" type="password" class="form-control" id="password" placeholder="Ingresa password actual">
            </div>

            <div class="form-group">
              <label for="InputPassword">Nueva contraseña</label>
              <input name="password" type="password" class="form-control" id="InputPassword" placeholder="Ingresa password">
            </div>

            <label for="InputConfirmPassword">Repite Nueva contraseña</label>
            <input type="password" class="form-control" id="InputConfirmPassword" placeholder="Confirmar password">

            <div  class="form-group col-md-12 text-center">
              <button type="submit" class="btn btn-primary  btn-espacio"><i class="far fa-registered">Cambiar</i></button>
            </div>

          </div>
        </form>
      </div>

    </div>
	  </div>
 </div>


<% include ./partials/footer-js %>
<script  type="text/javascript">
  var password = document.getElementById("InputPassword")
    , confirm_password = document.getElementById("InputConfirmPassword");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;

</script>

</body>
</html>
