<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>

  <div class="container" >
    <div class="row">
    <% include ./partials/dashboard-medico %>
		  <div class="col-md-9">
		    <div class="card">
		        <div class="card-body">

              <div class="row">
                  <div class="col-12">
                    <div id="calendar"></div>
                  </div>
              </div>

            </div>
        </div>
      </div>
		</div>
</div>

<% include ./partials/footer-js %>
<script type="text/javascript" src="/fullcalendar/dist/fullcalendar.js"></script>
  <script>
    var calendar = $("#calendar");
    $(document).ready(function() {
    calendar.fullCalendar({
      header:{
              left: 'prev,next today',
              center: 'title',
              right: 'agendaWeek,agendaDay'
          },
      defaultView: 'agendaWeek',
      editable: false,
      selectable: false,
      allDaySlot: false,
      events: {
        url: "/horarios",
        success: function(data){
          var events=[];
          $.each(data.horario,function(index,value){
            var objeto = new Object();
            var fecha=value.fecha;
            var horaInicio=value.horaInicio;
            var horaSalida=value.horaSalida;
            objeto.title= "horario\n"
            $.each(value._cita,function(index,cita){
              objeto.title = objeto.title + "#cita" + (index+1) + "-" + cita._cliente.dni + "\n"
            })
            //objeto.title = "horario\n"+value._cita;
            objeto.start = fechaToStringHora(fecha,horaInicio);
            objeto.end = fechaToStringHora(fecha,horaSalida);
            events.push(objeto);
          });
          return events;
        }
      }
    })
    });
  </script>
</body>
</html>
