<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>
  <div class="container">
    <div class="row">
    <% include ./partials/dashboard %>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Las citas de <%=locals.user.nombres%> </h4>
		                    <hr>
                        <div id="dataTable_wrapper"></div>
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr id="tableHead">
                                        <th>CLIENTE</th>
                                        <th>MASCOTA</th>
                                        <th>MOTIVO</th>
                                        <th>ESTADO</th>
                                        <th>TIPO</th>
                                    </tr>
                                </thead>
                            </table>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
  </div>

  <% include ./partials/footer-js %>
  <script  type="text/javascript">
  $(document).ready(function () {
             $('#dataTable').DataTable({
               processing: true,
               serverSide: true,
                 "ajax": {
                     "url": "/cita/<%=locals.user._id%>",
                     "type": "GET",
                     "datatype": "json",
                      dataSrc: "mascota"
                 },
                 "columns": [
                     { "data": "nombre" },
                     { "data": "tipo" },
                     { "data": "raza" },
                     { "data": "fechaNacimiento",
                       "render": function(data){
                         var dataIso = new Date(data);
                         var dia= dataIso.getDate();
                         var mes= dataIso.getMonth();
                         var ano= dataIso.getFullYear();
                         var fecha = dia + "/" + (mes+1) + "/" + ano;
                         return fecha;
                       }
                     },
                     { "data": "sexo" },
                     { "data": "alimentacion" },
                     { "data": "estirilizado" },
                     { "data": "conviveConOtrosAnimales" },
                     { "data": "vacunado" },
                     { "data": "ultimaVisitaVeterinario",
                       "render": function(data){
                         var dataIso = new Date(data);
                         var dia= dataIso.getDate();
                         var mes= dataIso.getMonth();
                         var ano= dataIso.getFullYear();
                         var fecha = dia + "/" + (mes+1) + "/" + ano;
                         return fecha;
                       }
                     }
                 ]
             });
         });
  </script>
</body>
</html>
