<!DOCTYPE html>
<html lang="en">
<% include ./partials/headers %>
<body>
  <% include ./partials/navbar %>


  <div class="container franjaInicio" >
  
    <div class="container">
      <div class="row">
        <div class="col-sm p-3 mb-2 mt-5 bg-secondary text-white w-25 p-4 float left mr-4 ml-4">
		  <center>
		  <img src = "/imagenes/Consultas.svg" width="90" height= "90" alt="ban1"> </a>
		  <h2>Consultas de especialidad</h2>
          <p>Consulta veterinaria con los mejores especialistas, siempre dispuestos a darlo todo por la salud de tu mascota .</p>
         </center>
		</div>
        <div class="col-sm p-3 mb-2 mt-5 bg-secondary text-white w-25 p-4 float left mr-4 ml-4">
          <center>
		  <img src = "/imagenes/Peluqueria-1.svg" width="90" height= "90" alt="ban2"> </a>
		  <h2>Peluquería para mascotas </h2>
          <p>Cuidaremos el aspecto de tu engreído haciendo uso de productos de la más alta calidad.</p>
		  </center>
        </div>
        <div class="col-sm p-3  mb-2 mt-5 bg-secondary text-white w-25 p-4 float left mr-4 ml-4">
		<center>
		<img src = "/imagenes/internamientos-1.svg" width="90" height= "90" alt="ban3"> </a>
          <h2>Internamientos</h2>
          <p>Área para el internamiento de tu mascota, con el mejor personal dedicado las 24 horas del día.</p>
        </center>
		</div>
      </div>
    </div>
	 <div class="container">
      <div class="row">
        <div class="col-sm p-3 mt-3 mb-5 bg-secondary text-white w-25 p-4 float left mr-4 ml-4 ">
		<center>
		<img src = "/imagenes/pet-shop.svg" width="90" height= "90" alt="ban4"> </a>
          <h2>PetShop</h2>
          <p>Contamos con la mejor y más variada tienda de artículos para mascotas en nuestro distrito.</p>
		 </center>
        </div>
        <div class="col-sm p-3 mt-3  mb-5 bg-secondary text-white w-25 p-4 float left mr-4 ml-4">
		<center>
		<img src = "/imagenes/Cirugias-1.svg" width="90" height= "90" alt="ban5"> </a>
          <h2>Cirugías </h2>
          <p>Cirugía veterinaria con modernas instalaciones y con los cirujanos más experimentados.</p>
		  </center>
        </div>
        <div class="col-sm p-3 mt-3  mb-5 bg-secondary text-white w-25 p-4 float left mr-4 ml-4">
		<center>
		<img src = "/imagenes/Laboratorio-1.svg" width="90" height= "90" alt="ban6"> </a>
          <h2>Laboratorio</h2>
          <p>Disponemos de los mejores analistas y el más moderno laboratorio de muestras.</p>
		  </center>
        </div>
      </div>
    </div>
  </div>

  <% include ./partials/footer-js %>
</body>
</html>
